<header>
	<h1><a href="/">E:D Wiki</a></h1>
	<h2>Coming soon.</h2>
	<div id="search">
		<form class="search-form" action="index.html" method="get">
			<i class="fa fa-search" aria-hidden="true"></i>
			<input type="text" name="search" placeholder="Search">
		</form>
	</div>
</header>
