<nav class="toolbar">
	<a href="/">
		<div class="control">
			<i class="fa fa-tags" aria-hidden="true"></i>
			<span>Categories</span>
		</div>
	</a>
	<a href="{{ route }}">
		<div class="control {{#if toolbarActiveView }}active{{/if}}">
			<i class="fa fa-eye" aria-hidden="true"></i>
			<span>View</span>
		</div>
	</a>
	<a href="{{ route }}/edit">
		<div class="control {{#if toolbarActiveEdit }}active{{/if}}">
			<i class="fa fa-pencil" aria-hidden="true"></i>
			<span>Edit</span>
		</div>
	</a>
	<a href="{{ route }}/history">
		<div class="control {{#if toolbarActiveHistory }}active{{/if}}">
			<i class="fa fa-book" aria-hidden="true"></i>
			<span>History</span>
		</div>
	</a>
</nav>
