{{> breadcrumbs }}
<div class="wiki-page">
	{{> toolbar }}
	<div class="flex-wrapper">

		<div class="content">
			<div class="title">
				<h2>{{ title }}</h2>
			</div>

			<div id="entry">
				{{#if content }}
					{{{ content }}}
				{{ else }}
					<p class="not-found">
						This page does not exist (yet).
					</p>
					<p class="not-found">
						Start editing and click SAVE to create this page.
					</p>
				{{/if }}
			</div>
		</div>
	</div>
</div>
