.clearfix {
  overflow: auto;
  zoom: 1;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', sans-serif;
	box-sizing: border-box;
}

a, a:visited {
	color: inherit;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: rgba(1, 3, 16, 1);
	color: rgba(217, 217, 217, 1);
}

header {
	height: 500px;
	width: 100%;
	background: url('img/space-pattern.png') repeat;
	background-position: cover;
	background-size: 10%;
}

header h1 {
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-size: 100px;
	font-weight: 500;
	padding: 100px 0 0 0;
}

header #search {
	width: 800px;
	margin: 75px auto;
}

header #search i {
	color: rgba(1, 3, 16, 1);
	position: absolute;
	font-size: 40px;
	margin: 15px 0 0 20px;
}

header #search input {
	width: 800px;
	height: 70px;
	border: 1px solid rgba(217, 217, 217, 1);
	background-color: rgba(217, 217, 217, 1);
	border-radius: 70px;
	outline: inherit;
	font-size: 40px;
	padding: 0 70px;
	text-align: center;
}

header h2 {
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #FCD757;
}

#categories .categories-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#categories .categories-wrapper .category {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
	width: 450px;
	height: 250px;
	border: 3px solid rgba(8, 12, 36, 1);
	border-radius: 25px;
	text-align: center;
	background: url('img/default-background.png');
	background-size: cover;
}

#categories .categories-wrapper .category h3 {
	display: inline-block;
	width: auto;
	padding: 15px 20px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 50px;
	background-color: rgba(8, 12, 36, 1);
	transition: 0.3s ease all;
}

#categories .categories-wrapper .category.guides {
	background: url('img/guides.png');
	background-size: cover;
}

#categories .categories-wrapper .category.ships {
	background: url('img/ships2.png');
	background-size: cover;
}

#categories .categories-wrapper .category.systems {
	background: url('img/systems.png');
	background-size: cover;
}

#categories .categories-wrapper .category.stations {
	background: url('img/stations.png');
	background-size: cover;
}

#categories .categories-wrapper .category.powerplay {
	background: url('img/powerplay.png');
	background-size: cover;
}

#categories .categories-wrapper .category.roles {
	background: url('img/roles.png');
	background-size: cover;
}
